#WELCOME ONBOARD

In [69]:
import pandas as pd

In [70]:
print(pd.__version__)

2.2.2

Series = 1 Dimensional labeled array in pandas

In [71]:
data = [209,102,200,105,99,503]
series = pd.Series(data, index = ["Fiza","Keya","Jiam","Shimul","Safu","Nabila"])
print(series)

Fiza      209
Keya      102
Jiam      200
Shimul    105
Safu       99
Nabila    503
dtype: int64

In [72]:
print(series.loc["Fiza"])

209

In [73]:
series.loc["Safu"] = 101 #location by label
print(series)

Fiza      209
Keya      102
Jiam      200
Shimul    105
Safu      101
Nabila    503
dtype: int64

In [74]:
print(series.iloc[2]) #integer location

200

In [75]:
print(series[series >= 200])
print(series[series < 200])

Fiza      209
Jiam      200
Nabila    503
dtype: int64
Keya      102
Shimul    105
Safu      101
dtype: int64

#Playing with Dictoinary

In [76]:
import pandas as pd

calories = {"Day 1":1500, "Day 2": 2100, "Day 3": 1000}
mycal = pd.Series(calories)
print(mycal)
print("Previos: ", mycal.loc["Day 3"])
mycal.loc["Day 3"] += 500
print("New: ", mycal.loc["Day 3"])

Day 1    1500
Day 2    2100
Day 3    1000
dtype: int64
Previos:  1000
New:  1500

In [77]:
print("Missed diet plan: ", mycal[mycal >= 2000])
print("Sticked to diet plan:", mycal[mycal<2000])

Missed diet plan:  Day 2    2100
dtype: int64
Sticked to diet plan: Day 1    1500
Day 3    1500
dtype: int64

DataFrame = 2D Tabular data structure with rowa and columns

In [78]:
data = {
    "Name": ["Mango","Guava","Strawberry","Pineapple"],
    "Price": [50,30,150,70]
}

myData = pd.DataFrame(data, index=["Item 1","Item 2","Item 3","Item 4"])
print(myData)

              Name  Price
Item 1       Mango     50
Item 2       Guava     30
Item 3  Strawberry    150
Item 4   Pineapple     70

In [79]:
# Add a new column

myData["Color"] = ["Yellow","Green","Red","Orange"]
print(myData)

              Name  Price   Color
Item 1       Mango     50  Yellow
Item 2       Guava     30   Green
Item 3  Strawberry    150     Red
Item 4   Pineapple     70  Orange

In [80]:
# Add a new row
new_item = pd.DataFrame([{"Name": "Banana","Price": 120,"Color": "Yellow"}],
                        index = ["Item 5"])
myData = pd.concat([myData,new_item])
print(myData)

              Name  Price   Color
Item 1       Mango     50  Yellow
Item 2       Guava     30   Green
Item 3  Strawberry    150     Red
Item 4   Pineapple     70  Orange
Item 5      Banana    120  Yellow

In [81]:
# Adding new items
new_items = pd.DataFrame([{"Name": "Lichi","Price": 100,"Color": "Red"},
                          {"Name": "Watermelon","Price": 150,"Color": "Green"},
                          {"Name": "Apple","Price": 250,"Color": "Red"}],
                        index = ["Item 6","Item 7","Item 8"])
myData = pd.concat([myData,new_items])
print(myData)

              Name  Price   Color
Item 1       Mango     50  Yellow
Item 2       Guava     30   Green
Item 3  Strawberry    150     Red
Item 4   Pineapple     70  Orange
Item 5      Banana    120  Yellow
Item 6       Lichi    100     Red
Item 7  Watermelon    150   Green
Item 8       Apple    250     Red

#Importing CSV and JSON file

In [82]:
c_data = pd.read_csv("/poke.csv",index_col="Name")

In [83]:
print(c_data)

             No    Type1   Type2  Height  Weight  Legendary
Name
Bulbasaur     1    Grass  Poison     0.7     6.9          0
Ivysaur       2    Grass  Poison     1.0    13.0          0
Venusaur      3    Grass  Poison     2.0   100.0          0
Charmander    4     Fire     NaN     0.6     8.5          0
Charmeleon    5     Fire     NaN     1.1    19.0          0
...         ...      ...     ...     ...     ...        ...
Moltres     146     Fire  Flying     2.0    60.0          1
Dratini     147   Dragon     NaN     1.8     3.3          0
Dragonair   148   Dragon     NaN     4.0    16.5          0
Dragonite   149   Dragon  Flying     2.2   210.0          0
Mewtwo      150  Psychic     NaN     2.0   122.0          1

[150 rows x 6 columns]

In [84]:
# print(c_data.to_string()) #To print full file

In [85]:
#Selection By Column/Columns
print(c_data[["Height","Weight"]])

            Height  Weight
Name
Bulbasaur      0.7     6.9
Ivysaur        1.0    13.0
Venusaur       2.0   100.0
Charmander     0.6     8.5
Charmeleon     1.1    19.0
...            ...     ...
Moltres        2.0    60.0
Dratini        1.8     3.3
Dragonair      4.0    16.5
Dragonite      2.2   210.0
Mewtwo         2.0   122.0

[150 rows x 2 columns]

In [86]:
#Selection By ROWS
print(c_data.loc["Pikachu"])

No                 25
Type1        Electric
Type2             NaN
Height            0.4
Weight            6.0
Legendary           0
Name: Pikachu, dtype: object

In [87]:
print(c_data.loc[["Charizard","Blastoise"],["Height","Weight"]])

           Height  Weight
Name
Charizard     1.7    90.5
Blastoise     1.6    85.5

In [88]:
print(c_data.iloc[0:11:2,0:3]) # from:to:difference , c0:c3

            No  Type1   Type2
Name
Bulbasaur    1  Grass  Poison
Venusaur     3  Grass  Poison
Charmeleon   5   Fire     NaN
Squirtle     7  Water     NaN
Blastoise    9  Water     NaN
Metapod     11    Bug     NaN

In [89]:
pokemon = input("Enter Pokemon Name: ")
try:
  print("Pokemon was found!")
  print(c_data.loc[pokemon])
except KeyError:
  print(f"{pokemon} was not found")

Enter Pokemon Name: Pichu
Pokemon was found!
Pichu was not found

In [90]:
# Filtering
tall_pokemon = c_data[c_data["Height"] >= 3]
heavy_pokemon = c_data[c_data["Weight"] > 100]
legendary_pokemon = c_data[c_data["Legendary"] == True]
water_pokemon = c_data[(c_data["Type1"] == "Water") | (c_data["Type2"] == "Water")]
print("Tall pokemon:",tall_pokemon)
print("Heavy pokemon:",heavy_pokemon)
print("Legendary pokemon:",legendary_pokemon)
print("Water pokemon:",water_pokemon)

Tall pokemon:             No   Type1   Type2  Height  Weight  Legendary
Name
Arbok       24  Poison     NaN     3.5    65.0          0
Onix        95    Rock  Ground     8.8   210.0          0
Gyarados   130   Water  Flying     6.5   235.0          0
Dragonair  148  Dragon     NaN     4.0    16.5          0
Heavy pokemon:             No     Type1    Type2  Height  Weight  Legendary
Name
Arcanine    59      Fire      NaN     1.9   155.0          0
Machamp     68  Fighting      NaN     1.6   130.0          0
Graveler    75      Rock   Ground     1.0   105.0          0
Golem       76      Rock   Ground     1.4   300.0          0
Dewgong     87     Water      Ice     1.7   120.0          0
Cloyster    91     Water      Ice     1.5   132.5          0
Onix        95      Rock   Ground     8.8   210.0          0
Exeggutor  103     Grass  Psychic     2.0   120.0          0
Rhyhorn    111    Ground     Rock     1.0   115.0          0
Rhydon     112    Ground     Rock     1.9   120.0          0
Gyarados   130     Water   Flying     6.5   235.0          0
Lapras     131     Water      Ice     2.5   220.0          0
Snorlax    143    Normal      NaN     2.1   460.0          0
Dragonite  149    Dragon   Flying     2.2   210.0          0
Mewtwo     150   Psychic      NaN     2.0   122.0          1
Legendary pokemon:            No     Type1   Type2  Height  Weight  Legendary
Name
Articuno  144       Ice  Flying     1.7    55.4          1
Zapdos    145  Electric  Flying     1.6    52.6          1
Moltres   146      Fire  Flying     2.0    60.0          1
Mewtwo    150   Psychic     NaN     2.0   122.0          1
Water pokemon:              No  Type1     Type2  Height  Weight  Legendary
Name
Squirtle      7  Water       NaN     0.5     9.0          0
Wartortle     8  Water       NaN     1.0    22.5          0
Blastoise     9  Water       NaN     1.6    85.5          0
Psyduck      54  Water       NaN     0.8    19.6          0
Golduck      55  Water       NaN     1.7    76.6          0
Poliwag      60  Water       NaN     0.6    12.4          0
Poliwhirl    61  Water       NaN     1.0    20.0          0
Poliwrath    62  Water  Fighting     1.3    54.0          0
Tentacool    72  Water    Poison     0.9    45.5          0
Tentacruel   73  Water    Poison     1.6    55.0          0
Slowpoke     79  Water   Psychic     1.2    36.0          0
Slowbro      80  Water   Psychic     1.6    78.5          0
Seel         86  Water       NaN     1.1    90.0          0
Dewgong      87  Water       Ice     1.7   120.0          0
Shellder     90  Water       NaN     0.3     4.0          0
Cloyster     91  Water       Ice     1.5   132.5          0
Krabby       98  Water       NaN     0.4     6.5          0
Kingler      99  Water       NaN     1.3    60.0          0
Horsea      116  Water       NaN     0.4     8.0          0
Seadra      117  Water       NaN     1.2    25.0          0
Goldeen     118  Water       NaN     0.6    15.0          0
Seaking     119  Water       NaN     1.3    39.0          0
Staryu      120  Water       NaN     0.8    34.5          0
Starmie     121  Water   Psychic     1.1    80.0          0
Magikarp    129  Water       NaN     0.9    10.0          0
Gyarados    130  Water    Flying     6.5   235.0          0
Lapras      131  Water       Ice     2.5   220.0          0
Vaporeon    134  Water       NaN     1.0    29.0          0
Omanyte     138   Rock     Water     0.4     7.5          0
Omastar     139   Rock     Water     1.0    35.0          0
Kabuto      140   Rock     Water     0.5    11.5          0
Kabutops    141   Rock     Water     1.3    40.5          0

In [91]:
# Aggregate Function = used to summarize set of values

# Whole dataframe
print("Mean:",c_data.mean(numeric_only=True))
print("Sum:",c_data.sum(numeric_only=True))
print("Min:",c_data.min(numeric_only=True))
print("Max:",c_data.max(numeric_only=True))
print("Count:",c_data.count(numeric_only=True))

# Single Column
print("Mean of height:",c_data["Height"].mean())
print("Sum of height:",c_data["Height"].sum())

Mean: No           75.500000
Height        1.200000
Weight       46.231333
Legendary     0.026667
dtype: float64
Sum: No           11325.0
Height         180.0
Weight        6934.7
Legendary        4.0
dtype: float64
Min: No           1.0
Height       0.2
Weight       0.1
Legendary    0.0
dtype: float64
Max: No           150.0
Height         8.8
Weight       460.0
Legendary      1.0
dtype: float64
Count: No           150
Height       150
Weight       150
Legendary    150
dtype: int64
Mean of height: 1.2
Sum of height: 180.0

In [92]:
# Group by
group = c_data.groupby("Type1")
print(group["Height"].mean().head())

Type1
Bug         0.900000
Dragon      2.666667
Electric    0.855556
Fairy       0.950000
Fighting    1.185714
Name: Height, dtype: float64

In [93]:
# Data Cleaning = Fixing/Removing incorrect or incomplete info
# Drop irrelevant column
c_data = c_data.drop(columns=["Legendary"])
print(c_data.head())

            No  Type1   Type2  Height  Weight
Name
Bulbasaur    1  Grass  Poison     0.7     6.9
Ivysaur      2  Grass  Poison     1.0    13.0
Venusaur     3  Grass  Poison     2.0   100.0
Charmander   4   Fire     NaN     0.6     8.5
Charmeleon   5   Fire     NaN     1.1    19.0

In [96]:
# c_data = c_data.dropna(subset=["Type2"])
c_data = c_data.fillna({"Type2": "None"})
print(c_data.head())

            No  Type1   Type2  Height  Weight
Name
Bulbasaur    1  Grass  Poison     0.7     6.9
Ivysaur      2  Grass  Poison     1.0    13.0
Venusaur     3  Grass  Poison     2.0   100.0
Charmander   4   Fire    None     0.6     8.5
Charmeleon   5   Fire    None     1.1    19.0

In [99]:
# Fix inconsistance values
c_data["Type1"] = c_data["Type1"].replace({"Grass":"GRASS","Fire":"FIRE"})
print(c_data.head())

            No  Type1   Type2  Height  Weight
Name
Bulbasaur    1  GRASS  Poison     0.7     6.9
Ivysaur      2  GRASS  Poison     1.0    13.0
Venusaur     3  GRASS  Poison     2.0   100.0
Charmander   4   FIRE    None     0.6     8.5
Charmeleon   5   FIRE    None     1.1    19.0

In [103]:
# Standardize text
c_data["Type2"] = c_data["Type2"].str.upper()
print(c_data.head())

            No  Type1   Type2  Height  Weight   type2
Name
Bulbasaur    1  GRASS  POISON     0.7     6.9  POISON
Ivysaur      2  GRASS  POISON     1.0    13.0  POISON
Venusaur     3  GRASS  POISON     2.0   100.0  POISON
Charmander   4   FIRE    NONE     0.6     8.5    NONE
Charmeleon   5   FIRE    NONE     1.1    19.0    NONE

In [105]:
# Fix / Change
mew = pd.read_csv("/poke.csv",index_col="Name")
mew["Legendary"] = mew["Legendary"].astype(bool)
print(mew.head())

            No  Type1   Type2  Height  Weight  Legendary
Name
Bulbasaur    1  Grass  Poison     0.7     6.9      False
Ivysaur      2  Grass  Poison     1.0    13.0      False
Venusaur     3  Grass  Poison     2.0   100.0      False
Charmander   4   Fire     NaN     0.6     8.5      False
Charmeleon   5   Fire     NaN     1.1    19.0      False

In [106]:
# Remove Duplicate rows here i didnt have any duplicate value

mew  = mew.drop_duplicates()